---
ansible_user: root
openshift_login: true
prerequisites_install: false
create_cluster_admin: false
backup_restore_install: false
gitea: false
integreatly_operator: false
amq_streams: false
ns_prefix: 'openshift-'
run_master_tasks: true

# 3scale
threescale_file_upload_storage: s3
threescale_storage_s3_aws_access_key: "{%raw%}{{ AWS_ACCESS_KEY_ID }}{%endraw%}"
threescale_storage_s3_aws_secret_key: "{%raw%}{{ AWS_SECRET_ACCESS_KEY }}{%endraw%}"
threescale_storage_s3_aws_region: "{{ cluster_aws_region }}"
threescale_storage_s3_aws_bucket: "{{ cluster_name }}-3scale"

# MDS
datasync: true
mobile_security_service: true
ups: true
mdc: true