---
- job_template: "{{ integreatly_osd_uninstall_bootstrap_name }}"
{% if bootstrap_type == "sre" %}
  success:
  - job_template: "{{ rhmi_ssh_tunnel_create_name }}"
    success:
    - job_template: "{{ integreatly_osd_uninstall_name }}"
      success:
      - job_template: "{{ rhmi_ssh_tunnel_delete_name }}"
        success:
        - job_template: "{{ rhmi_post_uninstall_housekeeping_name }}"
{% else %}
  success:
  - job_template: "{{ integreatly_osd_uninstall_name }}"
{% endif %}