---
- job_template: "{{ tower_job_template_authenticate_name }}"
  success:
  - job_template: "{{ integreatly_job_template_bootstrap_name }}"
    success:
    - job_template: "{{ integreatly_job_template_deploy_name }}"