---
# common
cluster_credential_git_user: ''
cluster_credential_git_user_group: ''
cluster_credential_git_repo: ''
cluster_credential_git_ref: ''
cluster_project_bootstrap_scm_type: git
cluster_project_bootstrap_cluster_scm_clean: true
cluster_project_bootstrap_cluster_scm_update_on_launch: false
cluster_project_bootstrap_cluster_scm_delete_on_update: true

#                         #
# Cluster create projects #
#                         #

# openshift-ansible
cluster_project_oa_bootstrap_scm_branch: "openshift-ansible-3.11.154-2"
cluster_project_oa_bootstrap_scm_url: "git@github.com:openshift/openshift-ansible.git"

#                            #
# Cluster create credentials #
#                            #

cluster_credential_bundle_github_name: "tower_github_scm"
cluster_credential_bundle_aws_name: ""
cluster_credential_bundle_le_key_name: 'le_privatekey'

#                          #
# Cluster create templates #
#                          #

cluster_job_template_cluster_provision_name: "Cluster Provision"
cluster_job_template_cluster_provision_desc: "Provision 3.11 cluster"
cluster_job_template_cluster_provision_type: 'run'
cluster_job_template_cluster_provision_playbook: 'playbooks/cluster_provision.yml'
cluster_job_template_cluster_provision_credentials: '{{ cluster_credential_bundle_le_key_name }}'
cluster_job_template_cluster_provision_project: '{{ tower_configuration_project_name }}'

cluster_job_template_preflight_name: "Pre_flight"
cluster_job_template_preflight_desc: "Pre-flight"
cluster_job_template_preflight_type: 'run'
cluster_job_template_preflight_playbook: 'playbooks/cluster_create.yml'
cluster_job_template_preflight_credentials: '{{ cluster_credential_bundle_le_key_name }}'
cluster_job_template_preflight_project: '{{ tower_configuration_project_name }}'

cluster_job_template_prerequisites_name: "OA_Prerequisites"
cluster_job_template_prerequisites_desc: "Openshift Ansible prerequisites"
cluster_job_template_prerequisites_type: 'run'
cluster_job_template_prerequisites_playbook: 'playbooks/aws/openshift-cluster/prerequisites.yml'
cluster_job_template_prerequisites_credentials: '{{ cluster_credential_bundle_aws_name }}'
cluster_job_template_prerequisites_project: 'Openshift Ansible'

cluster_job_template_install_name: "OA_Provision_Install"
cluster_job_template_install_desc: "Openshift Ansible provision_install"
cluster_job_template_install_type: 'run'
cluster_job_template_install_playbook: 'playbooks/aws/openshift-cluster/provision_install.yml'
cluster_job_template_install_project: 'Openshift Ansible'
cluster_job_template_install_credentials: '{{ cluster_credential_bundle_aws_name }}'

cluster_job_template_post_install_name: "Post_install"
cluster_job_template_post_install_desc: "Post-install"
cluster_job_template_post_install_type: 'run'
cluster_job_template_post_install_playbook: 'playbooks/cluster_create_post_install.yml'
cluster_job_template_post_install_project: '{{ tower_configuration_project_name }}'

cluster_workflow_credential_job_template_name: "Cluster_provision_bootstrap"
cluster_workflow_credential_job_template_desc: "Configure cluster provision workflow for a given cluster name"
cluster_workflow_credential_job_template_playbook: "playbooks/cluster_provision_bootstrap.yml"

cluster_workflow_job_template_name: "Cluster_provision"
cluster_workflow_name: "Provision_workflow"
cluster_workflow_job_template_desc: "Provision Openshift 3.11 cluster"

cluster_workflow_job_template_openshift_auth: "Openshift_Authenticate_tower_pod"

cluster_sync_job_name: "Configuration_project_sync"
cluster_sync_job_desc: "A job to sync the ansible-tower-configuration repo"
cluster_job_template_configuration_sync_playbook: "playbooks/configuration_project_sync.yml"
#                               #
# Cluster deprovision templates #
#                               #

cluster_job_template_teardown_project: "{{ tower_configuration_project_name }}"
cluster_job_template_teardown_type: "run"

cluster_job_template_teardown_preflight_name: "DC_Preflight"
cluster_job_template_teardown_preflight_desc: "Deprovision Cluster: Preflight"
cluster_job_template_teardown_preflight_playbook: "playbooks/cluster_teardown_preflight.yml"

cluster_job_template_teardown_name: "DC_Deprovision"
cluster_job_template_teardown_desc: "Deprovision Cluster: Remove Cluster Resources"
cluster_job_template_teardown_playbook: "playbooks/cluster_teardown.yml"

cluster_job_template_post_teardown_name: "DC_Post_Teardown"
cluster_job_template_post_teardown_desc: "Deprovision Cluster: Post Teardown"
cluster_job_template_post_teardown_playbook: "playbooks/cluster_teardown_post_teardown.yml"

cluster_workflow_teardown_name: "Cluster Deprovision"
cluster_workflow_teardown_desc: "Workflow for Cluster Deprovision"

# Auth

tower_pod_openshift_user: ""
tower_pod_openshift_pass: ""

# Inventory

cluster_inventory_source_project_name: "credential-inventory-source"
cluster_inventory_source_project_type: 'scm'
cluster_inventory_source_project_path: "inventories/"
cluster_inventory_source_project_update_on_launch: false
cluster_inventory_source_project_overwrite: true
cluster_inventory_source_project_overwrite_vars: true
