apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ tower_openshift_pg_pvc_name }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ tower_openshift_pg_pvc_size }}"