---
tower_environment: {{ tower_environment }}
tower_sre_extras: {{ tower_sre_extras }}
tower_configuration_project_scm_branch: {{ tower_configuration_project_scm_branch }}
tower_credentials_project_scm_branch: {{ tower_credentials_project_scm_branch }}
integreatly_version: {{ integreatly_version }}