---
- job_template: "{{ cluster_job_template_prerequisites_name }}-{{ oo_clusterid }}"
  success:
  - job_template: "{{ cluster_job_template_install_name }}-{{ oo_clusterid }}"
    success:
    - job_template: "{{ cluster_job_template_post_install_name }}-{{ oo_clusterid }}"
    failure:
    - job_template: "{{ cluster_job_template_install_name }}-{{ oo_clusterid }}"
      success:
        - job_template: "{{ cluster_job_template_post_install_name }}-{{ oo_clusterid }}"
