{ 
 "tower_dummy_project_branch": "{{ tower_dummy_project_branch }}",
 "comparison_project_name": "{{ comparison_project_name }}", 
 "comparison_project_ssh_url": "{{ cluster_credential_git_repo }}",
 "comparison_project_branch": "{{ comparison_project_branch }}",
 "comparison_project_inventory_source_path": "{{ comparison_project_inventory_source_path }}"
}