{
  "description": "",
  "name": "",
  "spec": [
    {
      "question_description": "Tower Dummy Credentials Repository Branch",
      "min": 0,
      "default": "master",
      "max": 1024,
      "required": true,
      "new_question": true,
      "variable": "tower_dummy_project_branch",
      "question_name": "Tower Dummy Credentials Branch",
      "type": "text"
    },
    {
      "question_description": "Name of the project to compare",
      "min": 0,
      "default": "",
      "max": 1024,
      "required": true,
      "new_question": true,
      "variable": "comparison_project_name",
      "question_name": "Comparison Project Name",
      "type": "text"
    },
    {
      "question_description": "Clone comparison project using the SSH URL",
      "min": 0,
      "default": "",
      "max": 1024,
      "required": true,
      "new_question": true,
      "variable": "comparison_project_ssh_url",
      "question_name": "Comparison Project SSH URL",
      "type": "text"
    },
    {
      "question_description": "Branch of the comparison repository",
      "min": 0,
      "default": "master",
      "max": 1024,
      "required": true,
      "new_question": true,
      "variable": "comparison_project_branch",
      "question_name": "Comparison Project Branch",
      "type": "text"
    },
    {
      "question_description": "Comparison projects inventory source path",
      "min": 0,
      "default": "inventories/",
      "max": 1024,
      "required": true,
      "new_question": true,
      "variable": "comparison_project_inventory_source_path",
      "question_name": "Inventory path",
      "type": "text"
    }
  ]
}